name: Run tests

# Trigger on push
on:
  push:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.2'
          check-latest: true
      
      - name: Install libraries for ubuntu
        run: |
          sudo apt install libx11-dev

      - name: Print environment
        run: |
          which go
          go env
          make vars

      - name: Check format
        run: make check-format

      - name: Check vet
        run: make check-vet

      - name: Build renku-dev-utils
        run: make rdu

  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.2'
          check-latest: true

      - name: Install libraries for ubuntu
        run: |
          sudo apt install libx11-dev
      
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
